/**设置背景颜色**/
.root{
    -fx-background-color:#ffffff;
}
/**设置Label样式**/
#labelText {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
/**设置Button样式**/
.button{
    /*设置背景颜色渐变*/
    -fx-background-color: linear-gradient(to right,#06A8FF,#06A8FF);
    -fx-text-fill:#ffffff;
    -fx-font-size: 16px;
    /*设置圆角
    -fx-background-radius: 10;
    -fx-border-radius: 10;
     */
}
/**设置Button  鼠标悬停样式**/
.button:hover{
    -fx-border-color: blue;
}
/**设置Button 点击鼠标样式**/
.button:pressed{
    /**设置边框背景颜色**/
    -fx-border-color: red;
}
/**设置HBox背景样式 bg是自定义的class**/
.bg{
    /*设置圆角*/
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color:#EAECEE;

}

#txtAccount{
    -fx-background-image: url('relationship.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 10% 50%;/*按比例缩放*/
    -fx-padding: 15 15 15 45;
}

#passwordField{
    -fx-background-image:url('lock.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 10% 50%;/*按比例缩放*/
    -fx-padding: 15 15 15 45;
}

#labelAlert {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: red;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
