/**设置背景颜色**/
.root{
    -fx-background-color:#ffffff;
}
/**设置Label样式**/
.label {
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
/**设置Button样式**/
.button{
    /*设置背景颜色渐变*/
    -fx-background-color: linear-gradient(to right,#06A8FF,#06A8FF);
    -fx-text-fill:#ffffff;
    -fx-font-size: 16px;
    /*设置圆角
    -fx-background-radius: 10;
    -fx-border-radius: 10;
     */
}
/**设置Button  鼠标悬停样式**/
.button:hover{
    -fx-border-color: blue;
}
/**设置Button 点击鼠标样式**/
.button:pressed{
    /**设置边框背景颜色**/
    -fx-border-color: red;
}
/**设置HBox背景样式 bg是自定义的class**/
.bg{
    /*设置圆角*/
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color:#EAECEE;

}

#txtAccount{
    -fx-background-image: url('data:image/svg+xml;%3C?xml%20version=%221.0%22%20standalone=%22no%22?%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%3Csvg%20t=%221595925864646%22%20class=%22icon%22%20viewBox=%220%200%201024%201024%22%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20p-id=%226392%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20width=%22200%22%20height=%22200%22%3E%3Cdefs%3E%3Cstyle%20type=%22text/css%22%3E%3C/style%3E%3C/defs%3E%3Cpath%20d=%22M175.893333%20769.024l146.602667-171.050667c18.666667%2011.669333%2038.826667%2021.184%2060.117333%2028.202667L224.490667%20810.666667H554.666667v64H224.490667a64%2064%200%200%201-48.597334-105.642667l146.602667-171.050667zM746.666667%20640v85.333333h85.333333v64h-85.333333v85.333334h-64v-85.333334h-85.333334v-64h85.333334v-85.333333h64zM469.333333%20149.333333c117.824%200%20213.333333%2095.509333%20213.333334%20213.333334s-95.509333%20213.333333-213.333334%20213.333333-213.333333-95.509333-213.333333-213.333333S351.509333%20149.333333%20469.333333%20149.333333z%20m0%2064a149.333333%20149.333333%200%201%200%200%20298.666667%20149.333333%20149.333333%200%200%200%200-298.666667z%22%20p-id=%226393%22%3E%3C/path%3E%3C/svg%3E');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 10% 50%;/*按比例缩放*/
    -fx-padding: 15 15 15 45;
}

#passwordField{
    -fx-background-image:url('lock.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 10 center;
    -fx-background-size: 10% 50%;/*按比例缩放*/
    -fx-padding: 15 15 15 45;
}
