<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zj.mybatis.mapper.YsDwzcqkMapper">
	<!-- statement -->
	<select id="selectYsDwzqks" resultType="YsDwzqk">
		select * from YS_DWZCQK
	</select>


	<insert id="insertYsDwzqkList">
		<foreach collection="lists" item="emp" separator=";">
			insert into YS_DWZCQK(DW_ID,INFORMATION,VALIDATION,INPUT_MAN)
			values(#{emp.dwid},#{emp.information},#{emp.validation},#{emp.inputMan})
		</foreach>
	</insert>

	<insert id="insertYsDwzqkList2">
		<foreach collection="lists" item="emp" separator=";">
			insert into YS_DWJBQK(DW_ID,INFORMATION,VALIDATION,INPUT_MAN)
			values(#{emp.dwid},#{emp.information},#{emp.validation},#{emp.inputMan})
		</foreach>
	</insert>

	<insert id="insertYsDwzqkList3">
		<foreach collection="lists" item="emp" separator=";">
			insert into
			YS_JBZCB(JB_ID,UNIT,UNIT_TYPE,ITEM_TYPE,ITEM_NAME,ZCCN_SUBCODE,ZCJJ_SUBCODE,ZF_JJFL,SF_CG,TOLAL_MONEY
			,YS_MONEY,OTHER_MONEY,INPUT_MAN)
			values(#{emp.jbid},#{emp.unit},#{emp.unitType},#{emp.itemType},#{emp.itemName},#{emp.zccnSubcode},#{emp.zcjjSubcode},#{emp.zfJjfl},
			#{emp.sfCg},#{emp.totalMoney},#{emp.ysMoney},#{emp.otherMoney},#{emp.inputMan})
		</foreach>
	</insert>

	<select id="selectYszzZyqkb" resultType="ZzRy">
		select * from ys_user
		where USER_NAME not in ('王燕丽','周丽娟')
	</select>

	<insert id="addToYs" parameterType="YsDwzqk">
		INSERT INTO
		YS_ZZRYQKB(ZZ_ID,UNIT,NAME,ID_CARD,BIRTH_DATE,SEX,JOB_TIME,INPUT_MAN)
		<foreach collection="lists" item="item" index="index" open="("
			close=")" separator="union all">
			SELECT 111,'892001-2022年第19届亚运会组委会',#{item.userName} as
			a,'xxxxxx001',19001001,2,20001101,'admin'
		</foreach>
	</insert>

	<select id="selectZzRy" resultType="ZzRy">
		select * from YS_ZZRYQKB
	</select>
	
	<update id="updateZzRy" parameterType="ZzRy">
		update YS_ZZRYQKB set ZZ_ID = #{zzId}  where ZZ_UUID = #{zzUuid}
	</update>

</mapper>